$containerWidth: 1304px;
$bglinear: linear-gradient(0deg, rgba(50, 0, 41, 1) 0%, rgba(110, 16, 94, 1) 10%, rgba(110, 16, 94, 1) 90%, rgba(50, 0, 41, 1) 100%);
$fontSize: 20px;
$lineHeight: 24px;
$white: #EFF3F5;
$fontFamily: Montserrat;