@import "_variables";
// #main__sort-nav ul {
//     list-style: none;
//     position: relative;
//     float: left;
//     margin: 0;
//     padding: 0
// }
// #main__sort-nav ul a {
//     display: block;
//     color: $white;
//     text-decoration: none;
//     font-weight: 700;
//     font-size: 12px;
//     line-height: 24px;
//     padding: 0 15px;
//     font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
// }
// #main__sort-nav ul li {
//     position: relative;
//     float: left;
//     margin: 0px;
//     padding: 0
// }
// #main__sort-nav ul li:hover {
//     border-radius: 5px;
// }
// #main__sort-nav ul ul {
//     display: none;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     background: rgba(110, 16, 94, 0.95);
//     box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
//     border-radius: 12px;
//     padding: 0;
//     z-index: 3;
// }
// #main__sort-nav ul ul li {
//     float: none;
//     width: 200px;
//     margin: 5px 10px;
// }
// #main__sort-nav ul ul li img {
//     display: block;
//     width: 15px;
//     margin: 0px auto;
//     padding: 10px;
// }
// #main__sort-nav ul ul li:hover {
//     background: rgb(210, 102, 0, 1);
//     border-radius: 5px;
// }
// #main__sort-nav ul ul a {
//     line-height: 120%;
//     padding: 10px 15px
// }
// #main__sort-nav ul ul ul {
//     top: 0;
//     left: 100%
// }
// #main__sort-nav ul li:hover>ul {
//     display: block
// }
#main__sort-nav {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

.dropdown__btm-arrow {
    display: block;
    width: 24px;
    margin: 0 auto;
}

.select-wrapper,
.select-wrapper2 {
    display: block;
    width: 260px;
}

.dropholder {
    width: 100%;
    border-radius: 10px;
    color: $white;
    position: relative;
    box-sizing: border-box;
}

.holder {
    line-height: 20px;
    font-size: 16px;
    margin: 0;
}

.dropdown,
.dropholder {
    background: rgba(110, 16, 94, 0.2);
}

.dropdown {
    float: left;
    width: 100%;
    border-radius: 10px;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 20;
    &.active+.dropdownOption {
        display: block;
    }
}

.dropdownOption {
    padding: 10px 0 0 0;
    position: absolute;
    left: 0;
    top: 20px;
    right: 0;
    margin: 0;
    display: none;
    background: rgba(110, 16, 94, 0.95);
    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    z-index: 5;
    overflow: hidden;
    li {
        padding: 5px;
        margin: 5px;
        color: #fff;
        list-style: none;
        &:hover:not(.current) {
            background: rgb(210, 102, 0, 1);
            border-radius: 10px;
            cursor: $hover;
        }
    }
}

.current {
    background: rgb(210, 102, 0, 1);
    border-radius: 10px;
}